<section class="flex flex-col min-h-screen items-center justify-center bg-bg border-l border-line">
  <div class="flex flex-col gap-6 w-full max-w-sm">
    <div class="flex flex-col gap-1">
      <h2 class="text-2xl text-fg font-medium">Comece sua estante</h2>
      <p class="text-fg-muted">Leva menos de um minuto. O primeiro jogo é o mais difícil</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
      <app-auth-input
        [control]="form.controls.username"
        [errors]="messages.username"
        type="text"
        placeholder="usuario_exemplo123"
        autocomplete="username"
        label="Nome de usuário"
      />

      <app-auth-input
        [control]="form.controls.email"
        [errors]="messages.email"
        type="text"
        placeholder="voce@email.com"
        autocomplete="email"
        label="E-mail"
      />

      <app-auth-input
        [control]="form.controls.password"
        [errors]="messages.password"
        type="password"
        placeholder="••••••••"
        autocomplete="new-password"
        label="Senha"
      />

      <app-auth-input
        [control]="form.controls.confirmPassword"
        [errors]="messages.confirmPassword"
        type="password"
        placeholder="••••••••"
        label="Confirmar senha"
      />

      @if (errorMessage(); as text) {
        <span class="text-sm text-center text-danger">{{ text }}</span>
      }

      <app-auth-button [disabled]="buttonDisabled()" title="Criar conta" />

      <div class="h-px w-full bg-line"></div>

      <p class="text-fg-muted">
        Já tem uma conta?
        <a
          (click)="navigation.goTo('login')"
          class="text-accent hover:underline hover:text-accent-hover cursor-pointer"
          >Entrar</a
        >
      </p>
    </form>
  </div>
</section>
