<section class="flex flex-col bg-bg min-h-screen gap-4">
  <app-header />

  <div
    class="scrollbar-hover flex items-center justify-center-safe gap-2 overflow-x-auto pb-2 px-4"
  >
    @for (filter of filters; track $index) {
      <app-game-type-pill
        [text]="filter"
        (pillClick)="filterBy(filter)"
        [selected]="selectedFilter() === filter"
      />
    }
  </div>

  @if (error()) {
  } @else if (isLoading()) {
    <div class="grid grid-cols-[repeat(auto-fill,9.375rem)] justify-center gap-x-4 gap-y-6">
      @for (i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]; track i) {
        <app-game-card-skeleton />
      }
    </div>
  } @else {
    <div class="grid grid-cols-[repeat(auto-fill,9.375rem)] justify-center gap-x-4 gap-y-6">
      @for (game of filteredGames(); track game.id) {
        <app-game-card
          [gameType]="game.gameType.type | translateGameType"
          [name]="game.name"
          [releaseYear]="game.firstReleaseDate | parseYear"
          [cover]="game.coverUrl ?? undefined"
        />
      }
    </div>
  }
</section>
