<section class="flex flex-col bg-bg min-h-screen gap-4">
  <app-header />

  @if (isLoading()) {
    <app-game-detail-skeleton />
  } @else if (error()) {
  } @else if (isNotFound()) {
    <section class="flex flex-col items-center gap-4">
      <h1 class="text-4xl text-fg-strong">404 | Jogo não encontrado</h1>
      <p class="text-fg-muted">
        Nenhum jogo do catálogo usa o endereço
        <code class="bg-bg-deep px-2 py-1 rounded-md">{{ slug() }}</code
        >. Ele pode ter sido removido ou o link está incorreto.
      </p>

      <app-outlined-button
        text="Retornar para catalogo"
        icon="/icons/browse.svg"
        (onClicked)="onReturnClick()"
      />
    </section>
  } @else {
    <section class="flex items-center justify-center gap-4">
      <div class="px-4">
        <app-game-detail-card [name]="game()?.name" [cover]="game()?.coverUrl ?? undefined" />
      </div>

      <article class="flex flex-col p-4 gap-4 max-w-3xl">
        <div class="flex flex-col gap-2">
          <h1 class="text-4xl text-fg-strong font-semibold">{{ game()?.name }}</h1>
          <p class="text-fg-muted">Lançado em {{ game()?.firstReleaseDate | parseYear }}</p>
        </div>

        <app-outlined-button text="Adicionar à estante" icon="/icons/add.svg" />

        <hr class="border-line" />

        <div class="flex flex-col gap-2">
          <h3 class="text-label font-semibold text-xs">SOBRE</h3>
          <p class="text-fg">{{ game()?.summary }}</p>
        </div>

        <hr class="border-line" />

        <div class="flex flex-col gap-2">
          <h3 class="text-label font-semibold text-xs">DETALHES</h3>
          <ul class="grid grid-cols-[auto_1fr] gap-x-6 gap-y-2">
            <app-detail-item label="Tipo" [detail]="game()!.gameType.type | translateGameType" />

            @if (releaseDate()) {
              <app-detail-item
                label="Lançamento"
                [detail]="
                  releaseDate()!.toLocaleDateString('pt-br', {
                    year: 'numeric',
                    day: 'numeric',
                    month: 'long',
                  })
                "
              />
            }

            <app-detail-item
              label="No catálogo desde"
              [detail]="
                this.createdAt()!.toLocaleDateString('pt-br', {
                  year: 'numeric',
                  day: 'numeric',
                  month: 'long',
                })
              "
            />
          </ul>
        </div>
      </article>
    </section>
  }
</section>
